<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FearTheCowboy.Extensions.Collections" version="2.0.0-beta-10145" targetFramework="net461" />
  <package id="FearTheCowboy.Extensions.Core" version="2.0.0-beta-10145" targetFramework="net461" />
  <package id="FearTheCowboy.Extensions.Linq" version="2.0.0-beta-10145" targetFramework="net461" />
  <package id="FearTheCowboy.Iso19770" version="1.1.0-beta-10145" targetFramework="net461" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net461" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net461" />
</packages>